extends layout

block content
  nav.navbar.navbar-default.pull-right(ng-controller="NavCtrl")
    ul.nav.navbar-nav
      li(ng-show="isLoggedIn()")
        a {{currentUser()}}
      li(ng-show="isLoggedIn()")
        a(href="" ng-click="logOut()") Log Out
      li(ng-hide="isLoggedIn()")
        a(href="/#/login") Log In
      li(ng-hide="isLoggedIn()")
        a(href="/#/register") Register


  .row
    .col-md-6.col-md-offset-3
      div(ng-view)
